.container {
    position: relative;
    text-align: center;
  }
  .navigation{
    margin-top: 75px;
  }
  .labShowcase{
    display: flex;
  }
  .show{
    padding-left: 20px;
    border: 2px solid black;
    width:84%;
    border-radius: 5px;
  }
  h4 {
    display: inline-block;
    margin-top:50px;
  }  
  .myProf {
    position: absolute;
    right: 20%;
  }
  nav{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  nav button, nav a{
    margin: 0 15px;
  }
  nav a{
    border: 2px solid black;
    text-align: center;
  }
  .labs li{
    border: 1px solid black;
    text-align: center;
    margin: 5px 0;
    width: 80%;
    height: 80px;
    font-size: 15px;
    background-color: rgb(255, 212, 127);
    border-radius: 5px;
  }
  .labs a{
    color:black;
    font-style:normal;
    text-decoration: none;
  }
  button, nav a{
    width: 160px;
    height: 75px;
    background-color: rgb(255, 212, 127);
    border-radius: 5px;
  }
  button:hover, .labs li:hover, nav a:hover{
    background-color: rgb(214, 170, 49);
    color: rgb(26, 20, 107);
  }
  ul{
    width: 20%;
    list-style-type: none;
    padding-left:1%;
  }
  .descriptionUl{
    list-style-type: circle;
  }
  .imageShow{
    width: 800px; 
    height: auto;
    padding-top: 30px;
  }
  .showConcl{
    padding-top: 15%;
    border: 2px solid black;
    width:84%;
    border-radius: 5px;
    text-align: center;
  }
  